<!DOCTYPE html>
<html ng-app="dddPizza" ng-cloak>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
        
    <!-- bower:css -->
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/Scripts/lib/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="/Content/bootstrap.min.css" />  
    <link rel="stylesheet" href="/Content/site.min.css" />  
       
    <script src="/Scripts/lib/modernizr/modernizr.js"></script>


</head>
<body>
    <div class="work-spinner">
        <img src="@Url.Content("~/Content/img/spinner.gif")" alt="Loading" />
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="site-title">DDD</span><span class="site-title-2">PizZa</span>
                <img width="85" src="@Url.Content("~/Content/img/PizzaLogo.png")" alt="DDD Pizza" />

            </div>
            <div class="navbar-collapse collapse pull-right" data-ng-init="init()" ng-controller="navigationController as nav" ng-cloak>
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="current" ui-sref-opts="{reload: true}" ui-sref-active="active-link">
                            <i class="fa fa-list"></i>
                            Current Orders
                        </a>
                    </li>
                    <li>
                        <a ui-sref="past" ui-sref-opts="{reload: true}" ui-sref-active="active-link">
                            <i class="fa fa-th-large"></i>
                            Past Orders
                        </a>
                    </li>
                    <li>
                        <a ui-sref="order" ui-sref-opts="{reload: true}" ui-sref-active="active-link">
                            <i class="fa fa-plus"></i>
                            Add Order
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DDD Pizza, a family business =)</p>
        </footer>
    </div>

    <!-- bower:js -->
    <script src="/Scripts/lib/jquery/dist/jquery.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/Scripts/lib/respond/dest/respond.src.js"></script>
    <script src="/Scripts/lib/angular/angular.js"></script>
    <script src="/Scripts/lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="/Scripts/lib/angular-animate/angular-animate.js"></script>
    <script src="/Scripts/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/Scripts/lib/angular-resource/angular-resource.js"></script>
    <script src="/Scripts/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/Scripts/lib/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="/Scripts/lib/angular-filter/dist/angular-filter.js"></script>
    <script src="/Scripts/lib/angular-cookies/angular-cookies.js"></script>
    <!-- endbower -->
    
    <!-- inject:js -->
    <script src="/Scripts/app/app.min.js"></script>
    <!-- endinject -->
    
    @RenderSection("scripts", required: false)


</body>
</html>
